@import "common/reset.scss";
.vux-pop-reverse-enter-active,
.vux-pop-reverse-leave-active,
.vux-pop-forward-enter-active,
.vux-pop-forward-leave-active
{
	will-change: transform;
	transition: opacify 100ms, transform 500ms;
	height: 100%;
	top: 0;
	position: absolute;
	backface-visibility: hidden;
	perspective: 1000px;
}
$leave-opacity: 0;
.vux-pop-reverse-enter {
	opacity: $leave-opacity;
	transform: translate3d(-100%, 0, 0);
}

.vux-pop-reverse-leave-active {
	opacity: 1;
	transform: translate3d(100%, 0, 0);
}

.vux-pop-forward-enter {
	opacity: 1;
	transform: translate3d(100%, 0, 0);
}

.vux-pop-forward-leave-active {
	opacity: $leave-opacity;
	transform: translate3d(-100%, 0, 0);
}
